version: '3'
services:
    main_db:
        image: hub.hamdocker.ir/mysql
        restart: always
        environment:
            MYSQL_DATABASE: clgram
            MYSQL_ROOT_PASSWORD: rahnema403
        container_name: db
        ports:
            - 3001:3306
        volumes:
            - db_storage:/var/lib/mysql
        healthcheck:
            test: mysqladmin ping -h localhost --user=$MYSQL_USER --password=$MYSQL_ROOT_PASSWORD
            interval: 10s
            timeout: 12s
            retries: 10
    redis:
        image: hub.hamdocker.ir/redis
        restart: always
        container_name: redis_db
    backend:
        build:
            context: .
        container_name: backend
        ports:
            - 3000:3000
        environment:
            DB_NAME: clgram
            DB_USER: root
            DB_PASS: rahnema403
            DB_IP: main_db
            DB_PORT: 3306
            RESET_PASS_GMAIL: mohammad.test.p@gmail.com
            GMAIL_PASSWORD: 'joky uish rnts tmcg'
            FRONTEND_DOMAIN: http://37.32.5.72
            JWT_SECRET: 'super long secret'
            REDIS_HOST: redis
            REDIS_PORT: 6379
        volumes:
            - ./src/images:/app/src/images
        depends_on:
            redis:
                condition: service_started
            main_db:
                condition: service_healthy
        restart: on-failure
    frontend:
        build:
            context: ../built-frontend
        container_name: frontend
        ports:
            - 80:80
        volumes:
            - ./src/images:/usr/share/nginx/html/images
            - ../built-frontend:/usr/share/nginx/html
        depends_on:
            - backend
        restart: on-failure

volumes:
    db_storage:
